<<<<<<< HEAD

body, html{
	height: 100%;
	width: 100%;
	margin: 0;
	
}
body{
	background-image: url("cam3.jpg"); background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
.shade{
	background-attachment: fixed;
	border: 0px;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0,0.5);

	
	display: flex;
	flex-direction: column;
	
}
.icerik{
	margin-top: 100px;
	display: flex;
	flex-direction: column;
}

.yazi{
	
	color: white;
	
	margin: auto;
	margin-top: 30px;
	/*margin-left: 60px;
	margin-right: 40px;*/
	width: 90%;
	min-width:300px;
	/*max-width: 400px;*/
	background-color: rgb(255,255,255,0.5);
	border-radius: 5px;
	font-family: Arial;
	font-size: max (5vw);
	/*position: absolute;*/
}
.container {
	display: flex;
	flex-direction: row;
	background-color: black;
	width: 90%;
	align-self: center;
	margin: auto;
	position: fixed;
}
.deneme{
	color:red;
}
.menu{ 
		/*menu öğelerinin bulunduğu divler "menu camera" şeklinde*/
	
	display:flex; /*flexbox kullanılacak*/
	color: white; /*menu öğelerinin yazı rengi*/
	font-family: arial;

	font-size: 1vmin;
	font-size: 2vmax;
	
	margin-top: 2%; /*menü öğeleri arasındaki boşluk*/
	width: 100%; /*border genişliği*/
	border-radius: 8px; /*köşe radiusu*/
	align-items: center; /*yukarı aşağı yönde ortaya hizala*/
	justify-content: center; /*ortaya hizala*/
	border-bottom: 8px solid white; /*borderın alt çizgisini çiz*/
	/*transition-duration: 5s;*/
}

.menu:hover{
		/*color: lightgreen;
		border-color: yellow;*/
		background-color: red;
		cursor: pointer;
		margin-top: 1%;
		/*margin-left: 10px;*/
		transition-duration: 0.5s;
		}


/*#panelCamera {
  display: none;
}
#panelAboutUs {
  display: none;
}
#panelReferences {
  display: none;
}
#panelProjects {
  display: none;
}
#panelContact {
  display: none;
}*/
/*.camera{
	margin-left: 2%;  
	} 
.aboutus{
	margin-left:12%;
	}
	.references{
	margin-left:22%;
	}
.ourworks{
	margin-left:32%;
	}
.contact {
	margin-left:42%;
	}
.triangle-bottomleft {
      width: 0;
      height: 0;
      border-bottom: 300px solid red;
      border-right: 300px solid transparent;
    }
=======

body, html{
	height: 100%;
	width: 100%;
	margin: 0;
	
}
body{
	background-image: url("cam3.jpg"); background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
.shade{
	background-attachment: fixed;
	border: 0px;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0,0.5);

	
	display: flex;
	flex-direction: column;
	
}
.icerik{
	margin-top: 100px;
	display: flex;
	flex-direction: column;
}

.yazi{
	
	color: white;
	
	margin: auto;
	margin-top: 30px;
	/*margin-left: 60px;
	margin-right: 40px;*/
	width: 90%;
	min-width:300px;
	/*max-width: 400px;*/
	background-color: rgb(255,255,255,0.5);
	border-radius: 5px;
	font-family: Arial;
	font-size: max (5vw);
	/*position: absolute;*/
}
.container {
	display: flex;
	flex-direction: row;
	background-color: black;
	width: 90%;
	align-self: center;
	margin: auto;
	position: fixed;
}
.deneme{
	color:red;
}
.menu{ 
		/*menu öğelerinin bulunduğu divler "menu camera" şeklinde*/
	
	display:flex; /*flexbox kullanılacak*/
	color: white; /*menu öğelerinin yazı rengi*/
	font-family: arial;

	font-size: 1vmin;
	font-size: 2vmax;
	
	margin-top: 2%; /*menü öğeleri arasındaki boşluk*/
	width: 100%; /*border genişliği*/
	border-radius: 8px; /*köşe radiusu*/
	align-items: center; /*yukarı aşağı yönde ortaya hizala*/
	justify-content: center; /*ortaya hizala*/
	border-bottom: 8px solid white; /*borderın alt çizgisini çiz*/
	/*transition-duration: 5s;*/
}

.menu:hover{
		/*color: lightgreen;
		border-color: yellow;*/
		background-color: red;
		cursor: pointer;
		margin-top: 1%;
		/*margin-left: 10px;*/
		transition-duration: 0.5s;
		}


/*#panelCamera {
  display: none;
}
#panelAboutUs {
  display: none;
}
#panelReferences {
  display: none;
}
#panelProjects {
  display: none;
}
#panelContact {
  display: none;
}*/
/*.camera{
	margin-left: 2%;  
	} 
.aboutus{
	margin-left:12%;
	}
	.references{
	margin-left:22%;
	}
.ourworks{
	margin-left:32%;
	}
.contact {
	margin-left:42%;
	}
.triangle-bottomleft {
      width: 0;
      height: 0;
      border-bottom: 300px solid red;
      border-right: 300px solid transparent;
    }
>>>>>>> e0d3bdaf39519754f002f8b97b6d48ba9fa529cd
  */